// Styling for the languages section
.language-heading {
  margin: 15px 0;
  text-transform: none;
}

// Styling for the team section
.language {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 125px;
    height: 125px;
  }
}
